.example-container {
  width: auto;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 8rem;
  background-color: rgb(173, 173, 173);
}

.example-sidenav {
  padding: 20px;
}

.buttonApp{
    position: relative;
    top: 0;
    left: 0;
}