<div class="body">
  <div class="login">
    <mat-spinner class="spinner" *ngIf="loading" diameter="50"></mat-spinner>
    <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="ingresar()">
          <img src="../../../assets/img/usuario.png" alt="logo" class="logo">
    <h1>Login</h1>
    <mat-form-field class="ancho" appearance="fill">
      <mat-label>Usuario</mat-label>
      <input matInput autocomplete="off" formControlName="usuario" type="text">
    </mat-form-field>
    <mat-form-field class="ancho" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput autocomplete="off" formControlName="password" type="password">
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" class="ancho button" [disabled]="form.invalid">Ingresar</button>
    </form>
  </div>
</div>
